.board
  = haml :_board
= "<a href='/#{params[:height]}/#{params[:width]}/play'>Begin playing the Game of Life!</a>"
%br
= "<a href='/#{params[:height]}/#{params[:width]}'>Don't like this game? Try a new configuration.</a>"